.dt-menu {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100vw;
  min-height: 100vh;
  display: none;
  opacity: 0;
}

.dt-menu-close {
  position: absolute;
  background-color: transparent;
  padding: 0;
  border: 0;
  top: 25px;
  right: 25px;
  cursor: pointer;
}

.dt-menu-content {
  display: flex;
}

.dt-menu-content-left {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
  background-image: url('~/assets/images/menu-left.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.dt-menu-content-right {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 50%;
}

.dt-menu-item {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
  &:last-child {
    margin-bottom: 0;
  }
}

.dt-menu-link {
  position: relative;
  display: inline-block;
  font-family: 'Cragres';
  font-size: 47.25px;
  line-height: 1.2;
  color: var(--dt-color-white);
  text-decoration: none;
  transition: transform 0.3s ease;
  cursor: pointer;
  &::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: var(--dt-color-blue);
    transform: scaleX(0);
    transition: transform 0.3s ease;
  }
  &:hover {
    transform: translateX(-20px);
    &::before {
      transform: scaleX(1);
    }
  }
}

