@font-face {
  font-family: 'AvantGrade';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../font/avantgrade-ce.ttf');
}

@font-face {
  font-family: 'Cragres';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../font/cragres.otf');
}
